@import url('https://fonts.googleapis.com/css?family=Clicker+Script|Elsie+Swash+Caps&display=swap');

/* This is a comment */

/*CSS Syntax 

selectors {
  porperty, value;
  poperty, value; 
}

*/
 /* Type selector */
 
 p { /* select all <p> */
    font-size: 1em; /* 16px, ?pt, 100%, 1em */ 
    line-height: 1.5em;
 } 
 
 figcaption {
   /* font-weight: normal;
   font-size: 0.7em;
   line-height: 1.5em;
   font-family: 'Elsie Swash Caps', cursive;*/
   font:normal 0.75em/1.5em 'Elsie Swash Caps', cursive;
   color: #777;
   text-align: right;
 }
 